@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "ProximaNova";
  src: local("ProximaNova"), url(./fonts/ProximaNova.otf) format("truetype");
}

body,
input,
textarea {
  font-family: ProximaNova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  background: #131619;
}
input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: #fff;
  border: 2px #ddd solid;
  margin-right: 4px;
}

.dropdown {
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.drop-hidden {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.drop {
  max-height: 1000px;
  transition: max-height 1s ease-in-out;
}
